<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    
    <h1>Hello <%= typeof email !== "undefiend" && email ? email : "" %>, this is your outbox</h1>
    <div style="display: flex; width: 40rem; justify-content: space-evenly; margin-bottom: 2rem; margin-top: 2rem;">
    <a href="/compose-message">Compose message</a>
    <a href="/logout">Logout</a>
    <a href="/">Inbox</a>
    </div>
    <%
    if(typeof data !== "undefined" && data.items.length) {
        const items = data.items;
        %>
        <form id="delete-form">
            <button type="submit">Delete</button>
        <input name="deleteAction" value="sender" hidden/>
        <table id="message-table">
            <tr>
                <th></th>
                <th>Receiver</th>
                <th>Subject</th>
                <th>Message</th>
                <th>Send at</th>

            </tr>
        <%
        for ( var i = 0; i < items.length; i++ )
        {
            %>
                <tr id="row-<%= items[i].id %>">
                    <td><input type="checkbox" id="<%= items[i].id %>" name="ids" value="<%= items[i].id %>"></td>
                    <td><%= items[i].receiver %></td>
                    <td>
                        <a href="/message/<%= items[i].id %>"><%= items[i].subject %></a>
                    </td>
                    <td><%= items[i].message %></td>
                    <td><%= Intl.DateTimeFormat(undefined, {
                        timeStyle: "medium",
                        dateStyle: "medium",
                    }).format(new Date(items[i].sendAt)) %></td>

                </tr>
            <%
        } %>
        </table>
        </form>
        <%
    }
    %>
    <%
    if(typeof data !== "undefined" && data.totalPage) {
        const totalPage = data.totalPage;
        %><div id="pagination">
        <%
        for ( var i = 1; i <= totalPage; i++ )
        {
            %>
            <a href="/?pageNumber=<%=i %>"><%=i %></a>
            <%
        } %>
        </div>
        <%
    }
    %>
    


</div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", (event) => {
        const form = document.getElementById("delete-form");
        form.addEventListener("submit", (event) => {
            event.preventDefault();
            const ids = document.getElementsByName("ids");
            const deleteAction = document.getElementsByName("deleteAction");
            const data = {
                ids: [],
                deleteAction: deleteAction[0].value,
            };
            ids.forEach(id => {
                if(id.checked) {
                    data.ids.push(id.value);
                }
            })
            const params = new URLSearchParams();
            params.set("action", data.deleteAction);
            data.ids.forEach(id => {
                params.append("ids", id);
            })
            fetch("/api/delete/?" + params.toString(), {
                method: "DELETE",
            }).then(res => res.json()).then(res => {

                data.ids.forEach(id => {
                    const row = document.getElementById("row-" + id);
                    row.remove();
                })
            });
        });
    });
</script>
</body>
</html>